<div class="feed-section_left">
  <div class="above-section">
    <div class="title">
      <div class="title-avatar">
        <%= image_tag(thank_card.user.image, width: '42px') if thank_card.user.image.present? %>
      </div>
      <h4 class="title-text"><%= thank_card.user.name %></h4>

      <p style="margin-left: 20px; margin-right: 20px"><i>Thanks To:</i></p>

      <div class="title-avatar-to">
        <%= image_tag(thank_card.user.image, width: '20px') if thank_card.user.image.present? %>
      </div>
      <h4 class="title-text"><i><%= thank_card.user.name %></i></h4>
    </div>

    <div class="thankscard">
      <div class="card-list-item-show" style="background-image: url(<%=url_for(thank_card.card_template.background)%>);">
        <div class="card-list-inside-show" style="
            top: <%= thank_card.card_template.top %>px;
            right: <%= thank_card.card_template.right %>px;
            bottom: <%= thank_card.card_template.bottom %>px;
            left: <%= thank_card.card_template.left %>px;
          "
        >
          <%= thank_card.message %>
        </div>
      </div>
    </div>

    <div class="icons-feed">
      <span class="material-icons">favorite_border</span>

      <span class="material-icons">chat_bubble_outline</span>

      <span class="material-icons">share</span>
    </div>

    <div class="title-time">
      Posted <%= time_ago_in_words(thank_card.created_at) %> ago.
    </div>
  </div>

  <div class="comment">
    <div class="comment-flex">
      <span class="material-icons">sentiment_satisfied_alt</span>
      <input type="text" placeholder="Add Comment" />

      <a href="">Add</a>
    </div>
  </div>
</div>
