<%= render 'shared/header' %>
<div class="feed-main">
  <div class="feed">
    <div class="feed-section-left-all">
      <% @thank_cards.each do |feed| %>
        <div class="feed-section_left">
          <div class="above-section">
            <div class="title">
              <div class="title-avatar">
                <%= image_tag(feed.user.image, width: '42px') if feed.user.image.present? %>
              </div>
              <h4 class="title-text"><%= feed.user.name %></h4>

              <p style="margin-left: 20px; margin-right: 20px;"><i>Thanks To:</i></p>

              <div class="title-avatar-to">
                <%= image_tag(feed.user.image, width: '20px') if feed.user.image.present? %>
              </div>
              <h4 class="title-text"><i><%= feed.user.name %></i></h4>
            </div>

            <div class="thankscard">
              <div class="card-list-item-show" style="background-image: url( <%= url_for(feed.card_template.background) %> )">
                <div class="card-list-inside-show" style="top: <%= feed.card_template.top %>px; right: <%= feed.card_template.right %>px; bottom: <%= feed.card_template.bottom %>px; left: <%= feed.card_template.left %>px">
                  <%= feed.message %>
                </div>
              </div>
            </div>

            <div class="icons-feed">
              <% like = current_user.likes.find_by(thank_card: feed) %>
              <% if like.nil? %>
                <form action="/likes" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="like[thank_card_id]" value="<%= feed.id %>">
                  <button type="submit" value="Like">
                    <svg aria-label="Thích" class="_8-yf5 " color="#262626" fill="#262626" height="28" role="img" viewBox="0 0 24 24" width="28"><path d="M16.792 3.904A4.989 4.989 0 0121.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 014.708-5.218 4.21 4.21 0 013.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 013.679-1.938m0-2a6.04 6.04 0 00-4.797 2.127 6.052 6.052 0 00-4.787-2.127A6.985 6.985 0 00.5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 003.518 3.018 2 2 0 002.174 0 45.263 45.263 0 003.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 00-6.708-7.218z"></path></svg>
                  </button>
                </form>
              <% else %>
                <form action="<%= like_path(like) %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" value="Like">
                    <svg aria-label="Unlike" class="_8-yf5 " color="#ed4956" fill="#ed4956" height="28" role="img" viewBox="0 0 48 48" width="28"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                  </button>
                </form>
              <% end %>

              <svg aria-label="comment" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="28" role="img" viewBox="0 0 24 24" width="28"><path d="M20.656 17.008a9.993 9.993 0 10-3.59 3.615L22 22z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>

              <svg aria-label="share" class="_8-yf5 " color="#8e8e8e" fill="#8e8e8e" height="28" role="img" viewBox="0 0 24 24" width="28"><line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line><polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon></svg>
            </div>

            <div class="like">
              <%= feed.likes.count %> Like
            </div>

            <div class="title-time">
                Posted <%= time_ago_in_words(feed.created_at) %> ago.
            </div>  
          </div>

          <div class="comment">
            <div class="comment-flex">
              <span class="material-icons">sentiment_satisfied_alt</span>
              <input type="text" placeholder="Add Comment" />

              <a href="">Add</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>

      <div class="feed-section_right">
        <div class="feed-section_right-header">
          <div class="feed-section_right-img">
            <%= image_tag(current_user.image, width: '52px') if current_user.image.present? %>
          </div>

          <div class="feed-section_right-section-title">
            <div class="feed-section_right-text">
              <p><%= current_user.name %></p>
              <p><%= current_user.username %></p>
            </div>
          </div>
        </div>

        <div class="feed-section_right-section">
          <p>Another Users</p>
        </div>

        <% @users.each do |user| %>
          <div class="feed-section_right-section-another">
            <div class="feed-section_right-img-section">
              <%= image_tag(user.image, width: '52px') if user.image.present? %>
            </div>

            <div class="feed-section_right-text-section">
              <p><%= user.name %></p>
              <p><%= user.username %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
