<li style="display:flex;font-size:1rem;padding:10px 20px">
  <div>
    <%= image_tag(activity.owner.image, style: 'width: 56px;height:56px;border-radius:50%') %>
  </div>
  <div style="margin-left: 10px">
    <div>
      <% if activity.trackable %>
        <%= link_to thank_card_path(activity.trackable), style: 'text-decoration:none;color:black' do %>
          <strong><%= activity.owner.name %></strong> add the thank card to <strong><%= activity.recipient.name %></strong>
        <% end %>
      <% else %>
        <strong><%= activity.owner.name %></strong> was remove thanks card
      <% end %>
    </div>

    <div style="font-size:0.9rem;margin-top:4px">
      <i><%= time_ago_in_words(activity.created_at) %> ago</i>
    </div>
  </div>
</li>
