<header class="header">
  <div class="main-logo">
    <%= link_to dashboard_path do %>
      <%= image_tag('logo.png', width: '200px') %>
    <% end %>
  </div>

  <div class="main-search">
    <%= form_tag(dashboard_path) do %>
      <%= text_field_tag :term%>
      <%= submit_tag 'Search'%>
    <% end %>
  </div>

  <div class="main-list">
    <% if current_user.admin? %>
      <%= link_to new_card_template_path, class: 'icon-link' do %>
        <label class="material-icons">add_box</label>
      <% end %>
    <% end %>

    <%= link_to dashboard_path, class: 'icon-link' do %>
      <label class="material-icons">home</label>
    <% end %>

    <%= link_to new_thank_card_path, class: 'icon-link' do %>
      <label class="material-icons">add_circle_outline</label>
    <% end %>

    <label class="material-icons">favorite_border</label>
      <label class="material-icons header_icon-search-right-drop" for="drop-input">
      person_outline

      <input id="drop-input" class="drop-input-checked" hidden="" type="checkbox" />

      <ul class="hide-list">
        <li class="hide-list-item">
          <%= link_to "PROFILE", user_path(current_user) %>
        </li>
        <li class="hide-list-item">
          <%= link_to "SAVE", "#" %>
        </li>
        <li class="hide-list-item">
          <%= link_to "SETTING", "#" %>
        </li>
        <li class="hide-list-item">
          <%= link_to "LOGOUT", logout_path %>
        </li>
      </ul>
      </label>
  </div>
</header>
